.right-side-hero img{
   width: 500px;
   height: 300px;
}
.bg_dark{
  background-color: #1A1A1A;
}
.bg__grey{
  background-color: #262626;
}
.border__dark{
  border: #1A1A1A 5px solid;
}
.animate-left ,.animate-right{
  transform: translateX(0);
  opacity: 0;
  animation-fill-mode: forwards;
  
}
.animate-left{
animation-name:slideLeft;
animation-duration: 2s;
animation-delay: 0.3s;
}
.animate-right{
animation-name:slideRight;
animation-duration: 2s;

}
@keyframes slideLeft {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slideRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@media (min-width: 1px) and (max-width:992px) {
  .right-side-hero {
    order: -1; 
  }
}