.right-side-hero img{
   width: 500px;
   height: 300px;
}
.bg_dark{
  background-color: #1A1A1A;
}
.bg__grey{
  background-color: #262626;
}
.border__dark{
  border: #555252 1px solid;
}
.animate-left ,.animate-right{
  transform: translateX(0);
  opacity: 0;
  animation-fill-mode: forwards;
  
}
.animate-left{
animation-name:slideLeft;
animation-duration: 2s;
animation-delay: 0.3s;
}
.animate-right{
animation-name:slideRight;
animation-duration: 2s;

}
@keyframes slideLeft {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slideRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@media (min-width: 1px) and (max-width:991px) {
  .right-side-hero {
    order: -1; 

  }
  .after-trust::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:gray;
}
.after-Excellence::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:gray;
}
.after-client::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:gray;
}
.afer-commitment::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color:gray;
}
}
.shadow__gray{
    box-shadow: 0 0 15px rgba(128, 128, 128, 0.432);

}
@media (min-width: 992px){
.value .line{
     width: 100%;
    height: 2px;
    background-color:gray;
}
.vertical-line{

border-right: 1px solid gray;
}
}
.achievements .achievement{
    flex:1 0 250px;
}
.achievement-content {
  transition: transform 0.3s ease;
}

.achievement-content:hover {
  transform: scale(1.05);
}
.steps .step{
  flex: 1 0 250px;

}
.step-content {
  flex-grow: 1; 
}
