.contact{
   background-color: var(--mainColor);
    padding:14px 24px;
    border-radius: 10px;
}
.py__10{
    padding:100px 0;
}
.hero-contact-page{
    background-image: url(../img/hero-properties/Container\ \(3\).png);
}
.border__gray{
   border: #282727 1px solid;
}
.placeholder-message-white::placeholder{
    color: white;
}
.Office-Locations .office {
    flex: 1 0 250px;
}
.office img{
  width: 20px;
  height: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #100f0f;
}
.about-images {
  width: 100%;
  height: auto;
  transition: all 0.6s ease;
}
.about-images:hover{
   transform: scale(1.03);
}
/* @media (max-width: 1400px) {
  .about-images {
    width: 120%;
     height: auto;
  
  }
}

@media (max-width: 992px) {
  .about-images {
    width: 140%;
     height: auto;
  }
}

@media (max-width: 768px) {
  .about-images {
    width: 140%;
     height: auto;
  }
}

@media (max-width: 576px) {
  .about-images {
    width: 120%;
     height: auto;
  }
} */
/* .Explore-Estateins-World-img-1 {
   background-image: url(../img/contact-img-section/Image\ \(9\).png);
   padding: 100px 0;
   background-size: cover;
}
   
.Explore-Estateins-World-img-2 {
   background-image: url(../img/contact-img-section/Image\ \(10\).png);
    padding: 100px 0;
   background-size: cover;
}
.Explore-Estateins-World-img-3 {
   background-image: url(../img/contact-img-section/Image\ \(11\).png);
    padding: 100px 0;
   background-size: cover;
}
.Explore-Estateins-World-img-4 {
   background-image: url(../img/contact-img-section/Image\ \(12\).png);
    padding: 100px 0;
   background-size: cover;
}
.Explore-Estateins-World-img-5 {
   background-image: url(../img/contact-img-section/Image\ \(13\).png);
    padding: 100px 0;
   background-size: cover;
}
.Explore-Estateins-World-img-6 {
     background-image: url(../img/contact-img-section/Image\ \(14\).png);
    padding: 100px 0;
   background-size: cover;
}
    */
.bac-Explore-Estateins-World{
    background-image: url(../img/hero-properties/Container\ \(3\).png);
}
.bg-main-color-contact{
   transition: all 0.6s ease;
}
.bg-main-color-contact:hover{
   background-color:#531bed;
}
