.contact{
   background-color: var(--mainColor);
    padding:14px 24px;
    border-radius: 10px;
}
.py__10{
    padding:100px 0;
}
.hero-contact-page{
    background-image: url(../img/hero-properties/Container\ \(3\).png);
}