/* .hero .right-side-hero{
    background-image: url(./../img/Container.webp);
    background-size: contain;
    background-repeat: no-repeat;
} */
 .main-btn-hero{
  transition: all 0.7s;
 }
.main-btn-hero:hover{
    background-color: #561ef0;
}
.sub-container-img {
  position: absolute;
 width:150px;
  left:54%;
  top: 10%;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name:sub_container-opacity;
animation-duration: 1s;
animation-delay: 1.5s;
  
}
@keyframes sub_container-opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (min-width: 1px) and (max-width:992px) {
  .right-side-hero {
    order: -1; 
  }
.right-side-hero img {
    width: 50%;
    height: 50%;
   object-fit: contain;
}
.sub-container-img {
 display: none;
  
}
  .left-side-hero .hero-counter {
    justify-content: center;
  }
  .left-side-hero  {
    align-items: center;
  }
}


.bg_dark{
  background-color: #1A1A1A;
}
.bg__grey{
  background-color: #262626;
}
.border__dark{
  border: #1A1A1A 5px solid;
}
  


.animate-left ,.animate-right{
  transform: translateX(0);
  opacity: 0;
  animation-fill-mode: forwards;
  
}
.animate-left{
animation-name:slideLeft;
animation-duration: 2s;
animation-delay: 0.3s;
}
.animate-right{
animation-name:slideRight;
animation-duration: 2s;

}
@keyframes slideLeft {
  from{
    transform: translateX(-100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes slideRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity:1;
  }
}
.btn__dark{
  background-color: #333333;
}

.featured-properties h2 ,.Clients h2 ,.FAQ h2 {
  font-size: 48px;
}
.featured-properties img{
  width:100%;
  height: 100%;
}
.featured-properties .icon-in-featured-properties{
  width:20px;
  height: 20px;
}
.sm__font_size{
  font-size: 12px;
}
.end-featured-properties::before{
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  background-color: #333333;
  margin-top: 40px;
}
.mt__10{
  margin-top: 10px;
}
.btn-next-befor{
  width: 40px;
  height: 40px;
  margin-right:80px;
}
.btn-next-befor img{
  width: 40px;
  height: 40px;
}
.featured-properties-btn-bg{
  transition: all 0.7s;
}
.featured-properties-btn-bg:hover{
  background-color:#3a3636;
}
.featured .featured-content{
  flex: 1 0 200px;
}
.btn-next-befor p {
  white-space: nowrap;
}
.client .client-content 
img{
  width:30px;
  height:30px;
}
.client .client-content{
  flex:1 0 200px;
}
.client .client-content .profile img{
  width: 50px;
  height: 50px;
}
.client-content {
  transition: transform 0.3s ease;
}

.client-content:hover {
  transform: scale(1.05);
}
