:root{
    --mainColor:#6F3DF6;
}
.container-fit{
    .container{
  width:calc(100% - 320px);
  margin: auto;
}
}
 .main-btn-hero{
  transition: all 0.7s;
 }
.main-btn-hero:hover{
    background-color: #561ef0;
}
.bg_dark{
  background-color: #1A1A1A;
}
.bg__grey{
  background-color: #262626;
}
.main-bg{
    background-color: var(--mainColor);
}
.main-text{
    color: var(--mainColor);
}
.sec-bg{
    background-color: #1E1E1E;
}
.bg-navbar{
    background-color: #262626;
}
body{
    background-color: #1E1E1E;
    font-family:Urbanist;
}
.gap-30{
     gap: 30px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    background-color: #00000054;
    padding:14px 24px;
    border-radius: 10px;
    border: 2px #3c3535 solid;
}
.font{
    font-family:Urbanist;
    
}
.contact{
   background-color: #00000054;
    padding:14px 24px;
    border-radius: 10px;
    border: 2px #333333 solid; 
}
.above-nav {
    background-image: url(./../img/bg-above-nav.png);
    background-size:cover;
}
.above-nav .x-icon{
cursor: pointer;
}
@media screen and (max-width:500px) {
    .above-nav p,a{
        font-size: 12px;
    }
    
}
.bg-x-icon{
    background-color: #333333;
    width:20px;
    height:20px;
}
@media screen and (max-width:370px) {
    .above-nav p,a{
        font-size: 9.5px;
    }

}
/* .CTA{
    background-image: url(./../img/Abstract\ Design.png);
    background-image: url(./../img/Abstract\ Design.png);
   background-repeat: no-repeat;

} */

.bg-main-color{
    background-color: var(--mainColor);
    transition: all 0.5s;
}
/* .right-side-cta{
    background-image: url(./../img/bg-cta.svg);
    background-repeat: no-repeat;
}
.left-side-cta{
    background-image: url(./../img/bg-cta.svg);
    background-repeat: no-repeat;

} */
.CTA{
    background-image: url(../img/CTA.png);
    background-color: #262626;
}
.CTA .right-side-CTA button:hover{
    background-color: #561ef0;
}
    .CTA p{
        font-size: 16px;
    }
     .CTA h2{
        font-size: 35px;
    }

@media screen and (max-width:768px) {
    .btn{
        width: 100%;
    }
    
}
.line{
    height: 5px;
    color: #4D4D4D;
}
    
.footer h2{
    font-size: 25px;
}
.subfooter {
    background-color: #262626;
}
.right-side-subfooter a{
    transition: all 0.5s;
}
.right-side-subfooter a:hover{
   border:1px solid white;
}
@media screen and (max-width:900px) {
    .subfooter-contain{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
       
    }
    .left-side-subfooter{
        display: flex;
        flex-direction: column;
    }
    
}
.form-control::placeholder{
  
color: white;
}
/* .logo-in-sign-in{
    width: 200px;
    height: 200px;
} */
 .sign-in-up{
    transition: all 0.6s;
 }
 .sign-in-up:hover{
    background-color: #561ef0;
}
.modal-bg {
  background-color: rgba(27,27,34,0.7);
  backdrop-filter: blur(10px);
  border: none;
}
.btn_dark__hover{
transition: all 0.6s;
}
.btn_dark__hover:hover{
    background-color: #3d3d3d;
}

.header_scroll{
    /* background-color: yellow; */
    backdrop-filter: blur(12px);
  background: #0f0f0fcc; 
  box-shadow: 0 2px 20px #6f3df640;
  border-bottom: 1px solid #ffffff0d;
}
.navbar {
     transition: all 0.6s ease;
  animation: slideDown 0.8s ease-in-out;
}
.above-nav {
  animation: slideDown 0.8s ease-in-out;
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
