.hero-properties-page{
    background-image: url(../img/hero-properties/Container\ \(3\).png);
}
.py__10{
    padding: 100px 0;
}
 .hero-properties-page{
  transition: all 0.7s;
 }
.hero-properties-page button:hover{
    background-color: #561ef0;
}
.hero-properties-page .options input {
  border: none;

}
.options {
    box-shadow: 0px 0px 10px 15px #2c2b2b;
}
.border___dark{
  border: #555252 1px solid;
}
@media screen and (max-width:992px) {
    .hero-properties .inputs{
        flex-direction: column;
        justify-content: center;
        
    }
    .input-search-in-hero-section{
        width: 100%;
    }
}
.text__white__50{
    color: #ffffff80;
}
.placeholder-message-white::placeholder {
  color:white
}
.contact-properties-btn{
  transition: all 0.6s;
}
.contact-properties-btn:hover{
  background-color: #4106e3;
}