.py__10{
    padding:100px 0;
}
.hero-services-page{
    background-image: url(../img/hero-properties/Container\ \(3\).png);
}
.border___dark{
  border: #555252 1px solid;
}
.Unlock-the-Value-of-Your-Property-Today,.Unlock-Your-Investment-Potential{
   background-image: url(../img/services-page/Card.png);
}
.Effortless-Property-section img ,.property-value-section img ,.Smart-Investments-section img {
    width: 60px;
    height: 60px;
}